<div class="panel panel-primary">
  <div class="panel-heading">Datos del clima de Tandil</div>
  <div class="panel-body">
    <p>{{weather.text}}</p>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>Temperatura Minima</th>
        <th>Temperatura Maxima</th>
        <th>Dia</th>
        <th>Noche</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{weather.temperatureMin}} °C</td>
        <td>{{weather.temperatureMax}} °C</td>
        <td>{{weather.day}}</td>
        <td>{{weather.night}}</td>
      </tr>
    </tbody>
  </table>
</div>
