@import '../sass/common';

.table-container {
    height: 100%;
    position: relative;

    table {
        height: 100%;
        width: 100%;

        tr {
            th {
                color: $black;
                font-family: $f-play-black;
                font-size: 14px;
                font-weight: $f-play-bold;
                text-transform: capitalize;
            }

            td {
                color: $black;
                font-family: $f-novo-family;
                font-size: 12px;
                font-weight: $f-novo-regular;
                text-align: center;
                width: 25%;

                .button {
                    background-color: $brown;
                    border-radius: 3px;
                    color: $white;
                    display: block;
                    font-weight: $f-novo-bold;
                    line-height: 25px;
                    width: 90px;
                }

                img {
                    height:auto;
                    width: 24%;
                }

            }

            &.empty {
                span {
                    font-weight: $f-novo-bold;
                }
            }

        }

        tfoot {
            bottom: 0;
            position: absolute;

            tr {
                td {
                    font-family: $f-novo-family;
                    font-size: 12px;
                    font-weight: $f-novo-bold;
                }
            }
        }
    }
}
