
<div class="about-container">
    <div class="left">
        <h3>ABOUT US</h3>
        <p>Bristol Beer Factory started life in 2004 brewing just a few standard cask conditioned ales in a vibrant part of south Bristol. We soon realised that there is so much more to brewing and so many more styles of beer that we want to try that our range has now developed into over 8 different regular bottled ales, 7 regular cask ales and up to 5 specials throughout the year. We are not afraid to try anything and the company has a firm belief that all the great ideas are already within the 4 walls of the brewery – it’s just a matter of extracting them out of the team within. Or you can just nick them from others – we're not afraid to admit that either!</p>
        <p>So it really is all about the beer. We love what we do, we love to drink it and we love to experiment. We are proud to be part of the current 'Craft beer revolution' and will do our utmost to persuade, convince and just simply tell everyone we meet what they should be drinking.</p>
    </div>
    <div class="right">
        <h3>OPEN DAY</h3>
        <p>Every November we open the doors to the brewery & showcase our Christmas offering. It’s also a great chance to meet the brewers in a relaxed atmosphere and enjoy the infamous Stout stew.</p>
        <h3>BREWERY TOURS</h3>
        <p>Public & private tours are available to book at the brewery.</p>
        <h3>MERCHANDISE</h3>
        <p>Bristol Beer Factory clothing – now you can dress in beer.</p>
    </div>
</div>