@import "app/sass/common";

html{
    height: 100%;
}

* {
    box-sizing: content-box;
    font-family: $f-novo-family;
    font-weight: $f-novo-regular;
    margin: 0;
    padding: 0;
}

body {
    background-color: $grey;

    &.about {
        background-image: url('/assets/store/store.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;
        overflow-x: hidden;

    }

    &.active {
        overflow: hidden;
    }
}