<table class="table table-striped">
  <thead> 
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Negra fuerte</td>
      <td>Porter</td>
      <td>15</td>
      <td>1500</td>
    </tr>
    <tr>
      <td>Red Red Wine</td>
      <td>Barley Wine</td>
      <td>35</td>
      <td>500</td>
    </tr>
    <tr>
      <td>La Rubia</td>
      <td>Golden Ale</td>
      <td>25</td>
      <td>1920</td>
    </tr>
  </tbody>
</table>