<div class="form-group form-group-lg"> 
  <div class="col-sm-10"> 
    <input class="form-control" id="formGroupInputLarge" placeholder="Buscar" type="search" [(ngModel)]="name"> </div> 
  </div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Stock</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let beer of beers | BeerFilterPipe:name" [class.clearance]="beer.clearance" >
      <td>
        <img [src]="beer.image" [alt]="beer.name" alt="140x140" data-src="holder.js/140x140" class="img-circle" data-holder-rendered="true" style="width: 140px; height: 140px;">
      </td>
      <td>{{beer.name}}</td>
      <td>{{beer.style}}</td>
      <td>{{beer.price| currency:'USD':true:'1.2-2'}}</td>
      <td *ngIf="beer.stock>0"><span class="glyphicon glyphicon-ok" aria-hidden="true"  data-toggle="tooltip" data-placement="right" title="{{beer.stock}}"  ></span></td>
      <td *ngIf="beer.stock==0"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
      <td>
         <div class="form-group">
            <button type="button" class="btn btn-default btn-xs" (click)="downQuantity(beer)">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
            <input class="smallInput" type="number" [(ngModel)]="beer.quantity" (focusout)="verifyBeerQuantity(beer)"/>
            <button type="button" class="btn btn-default btn-xs" (click)="upQuantity(beer)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </div>
      </td>
      <td>
        <button type="button" class="btn btn-default btn-xs" [disabled]="beer.quantity <= 0" (click)="addCart(beer)">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Comprar
        </button>
      </td>
    </tr>
  </tbody>
</table>
