<table class="table table-striped">
  <thead> 
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let beer of beers">
      <td>{{beer.name}}</td>
      <td>{{beer.style}}</td>
      <td>{{beer.price}}</td>
      <td *ngIf="beer.stock>0"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
      <td *ngIf="beer.stock==0"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
    </tr>
  </tbody>
</table>