
<header>
    <div class="header-container">
        <div class="menu"></div>
        <div class="logo-container">
            <div class="logo"><a routerLink="" routerLinkActive="active"></a> </div>
        </div>

        <div class="weather-container">
            <div class="weather-icon"></div>
            <div class="weather-box">
                <weather></weather>
            </div>
        </div>

        <div class="search"></div>

        <div class="cart-container">
            <div class="cart"></div>
            <div class="mini-cart">
              <beer-cart></beer-cart>
            </div>
        </div>
    </div>
    <nav class="nav">
        <div class="close">X</div>
        <ul>
            <li><a routerLink="/beers" routerLinkActive="active">Beers</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
            <li><a routerLink="" routerLinkActive="active">Store</a></li>
            <li><a routerLink="" routerLinkActive="active">Find Us</a></li>
            <li><a routerLink="" routerLinkActive="active">Contact Us</a></li>
        </ul>
    </nav>
</header>

<div class="main-content">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>

<footer>
    <div class="footer-container">
        <div class="copyright"></div>
    </div>
</footer>
